@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-inter), system-ui, sans-serif;
    --font-montserrat: var(--font-montserrat), system-ui, sans-serif;
    --font-outfit: var(--font-outfit), system-ui, sans-serif;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #facc15, #eab308);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #eab308, #ca8a04);
  }
}